@media screen and (max-width : 600px) {
    

    nav{
        display: none;
    }
    .productView{
        .title{
            flex-direction: column;
            p{
                font-size: 10vw;
            }
        
        }


    }
    .carousel{
        height: 100vh;
    }
}